body {
    background: #f4f7f6;
    font-family: Arial;
    text-align: center;
}

nav {
    background-color: #3498db;
    padding: 10px;
}

nav a {
    color: white;
    font-weight: bold;
    margin: 10px;
}

.secao {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    color: #2c3e50;
}

p {
    font-size: 16px;
}